.update-btn {
  position: absolute;
  top: 0.45rem;
  right: 1.8rem;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.update-btn:hover {
  transform: scale(1.1);
  filter: invert(0.1);
}

.update-btn:active {
  transform: scale(1.1) translateY(-2px);
  filter: invert(0.1);
}
