.things-container {
  height: 100vh;
  padding: 30px;
  background-color: gainsboro;
  background-image: url(../../images/double-bubble-outline.png);
}

header {
  height: 60px;
  margin-bottom: 10px;
  color: #3f3f3f;
  user-select: none;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

header h3 {
  padding-left: 250px;
  text-align: center;
  font-style: italic;
  opacity: 0.8;
}

@media (max-width: 700px) {
  .things-container {
    padding: 20px;
  }

  header {
    height: 50px;
    margin-bottom: 5px;
  }
}

@media (max-width: 550px) {
  header h3 {
    padding-left: 180px;
  }
}

@media (max-width: 400px) {
  .things-container {
    padding: 5px;
  }

  header h3 {
    padding-left: 130px;
  }
}
